@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css");
@font-face {
	font-family: 'heydings_icons';
	src: url('/framework/bootstrap/fonts/heydings_icons.ttf') format('truetype');
}


/* Error styles */
div.exception {
	border: 1px solid red;
	background-color: #FFE0EB;
	width: 85%;
	height: 400px;
	margin: auto;
	padding: 5px 10px 5px 10px;
	position:float;
	z-index:10;
	overflow: auto;
	opacity:0.93;
	filter:alpha(opacity=93); /* For IE8 and earlier */
	top:0px;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 50px;
}

div.exceptionHide {
	border: 1px solid red;
	background-color: #FFE0EB;
	padding: 5px 10px 5px 10px;
	position:absolute;
	z-index:10;
	height: 10px;
	width: 100%;
	overflow: hidden;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
	top:50px;
	bottom: 0;
	left: 0;
	right: 0;
}

div.formError {
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 20px !important;
	font-size: smaller !important;
	border: 1px solid red !important;
	background-color: #FFE0EB !important;
	padding: 1px 10px 10px 10px !important;
	overflow: auto !important;
	display: block !important;
	padding: 10px 10px 10px 10px !important;
	text-align: left !important;
}

div formError a {
	float: none !important;
	margin: 0 !important;
}

div.formError p {
	text-align: left !important;
}

.footer {
	clear: left;
	padding-top: 15px;
}

.footerCopy {
	font-color:red;
	/*margin-top:100px;*/
}

.footerShortcut {
	clear: left;
	position: relative;
	float: right;
	right: 20px;
	padding-top: 10px;
	padding-bottom: 0px;
	background-color: white;
	width: 175px;
	height: 30px;
	opacity: .3;
	overflow: hidden;
	margin-top: -25px;
	margin-right: 20px;
}



/* Main content styles */
body {
	background: #E8E8E8;
	color: #5a5a5a;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.main {
	margin: 50px 10px 20px 10px;
}

hr {

    border-color:#D0D0D0;
}

.bodyContent {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

/* for Navbar in the homepage*/
.container-fluid{
	margin-left: 5px;
	margin-right: 20px;
}

.navbar-search{
	padding-left: -10px;
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu li>a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
	background-image: none;
	background-color: #5CD65C;
}

/** FOR SEARCH BAR*/
.sb_wrapper{
	margin:0;
	padding:0;
	position: absolute;
	top:3px;
	left:210px;
	width:372px;
}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
	border:1px solid #fff;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa));
	background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	padding:6px 5px 6px 20px;
	width:310px;
	float:left;
	margin:0px;
}
ul.sb_dropdown{
	float:left;
	list-style:none;
	width:369px;
	padding:6px 5px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
ul.sb_dropdown li{
	line-height:32px;
	height:32px;
	float:left;
	width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
	float:left;
	margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
	width:360px;
	border:1px solid #f9f9f9;
	clear:both;
	background: #5CD65C;
	color:white;
	height:25px;
	line-height:16px;
	padding:5px;
	-moz-box-shadow:0px 0px 2px #777;
	-webkit-box-shadow:0px 0px 3px #555 inset;
	-box-shadow:0px 0px 3px #555 inset;

}
span.sb_up,
span.sb_down{
	position:absolute;
	top:3px;
	left:0px;
	width:14px;
	height:28px;
	background-color:#f2f2f2;
	background-position:center center;
	background-repeat: no-repeat;
	z-index:10;
	border:1px solid #fff;
	-moz-box-shadow:1px 0px 1px #ddd;
	-webkit-box-shadow:1px 0px 1px #ddd;
	-box-shadow:1px 0px 1px #ddd;

}
span.sb_up{
	background-image:url(/shared/images/upLogo.png);
}
span.sb_down{
	background-image:url(/shared/images/downLogo.png);
}
input.sb_search{
	background:#f2f2f2 url(/shared/images/searchLogo.png) no-repeat center center;
	height:34px;
	width:32px;
	float:left;
	border:none;
	margin: 0px;
	border:1px solid #fff;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	cursor:pointer;
}
input.sb_search:hover{
	background-color:#fff;
}

.sb_dropdown label{
    margin-top: 7px;
}

.profile h3{
    text-align: center;
}
.profile .container{
    width: 400px;
}

.bookmark .container{
    width: 620px;
}
.bookmark h3{
    text-align: center;
}
.bookmark button{
    float:right;
    margin-right: 20px;
}
.form-horizontal{
    padding: 8px;
}
.form-horizontal input[type="text"] {
    width: 400px;
}

.form-horizontal textarea {
    width: 400px;
}

.form-horizontal table td{
    padding: 0 0px 8px 10px ;
}

.forgotPassword{
    padding-top: 50px;
}
.forgotPassword h3{
    text-align: center;
}
.forgotPassword .container{
    width: 350px;
}
.forgotPassword button{
    float:right;
}

.createTrack .container{
    width: 600px;
}
.createTrack h3{
    text-align: center;
}
.createTrack button{
    float:right;
    margin-right: 20px;
}

.displayBookmark .container{
    width: 600px;
}
.displayBookmark h3{
    text-align: center;
}
.displayBookmark button{
    float:right;
    margin-right: 20px;
}
.displayBookmark .container .well img {
    display: block;
    margin: 0 auto;
}
.displayBookmark .container .well h3 {
    text-align: left;
}

#sidr .active{
    background-color: #71D771;
}
/*.tabbable{
    margin-left: 30px;
}

.nav-tabs .active{
    background-color: #00B800;
}

.tab-content{
    background-color: #FFF;
    border: 1px solid #000;
}*/

/*#tabs .container-fluid{
    margin: 0px;
    padding: 0px;
}*/
#tabs{
    font: 14px Arial;
}
#icons{
    float: right;
}
#icons .fa:hover{
    color: #009900;
	/* border: hidden;*/
}
/*#icons li :hover{
        border: 1px solid #3E3E3E;
        border-radius: 8px;
        margin: 0px;
}*/

#icons .fa{
    color: #3E3E3E;
    padding:2px 2px 2px 4px;
}
#icons li{
    list-style-type: none;
    padding:2px 2px 2px 4px;
    margin-left: 2px;
}
.form-horizontal #icons li{
    list-style-type: none;
    padding:2px 2px 2px 4px;
    margin-bottom:15px;
}
/*.form-horizontal #icons li .fa:hover{
    color: #009900;
}*/
#tabs .row-fluid .span11{
    width: 1000px;
}
.well table .fa{
    color: #3E3E3E;
}
.well table .fa:hover{
    color: #009900;
}
.well table td{
    padding:5px 8px 10px 8px;
}

.searchSecretPopUp, .trackSecretPopUp, .allTracksSecretPopUp, .logoSecretPopUp, .bookmarkSecretPopUp, .followSecretPopUp, .myTracksSecretPopUp {
    display: none;
}

/* ============================================================================================================================
== BUBBLE WITH AN ISOCELES TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-isosceles {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-isosceles.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
	background:-moz-linear-gradient(#f3961c, #f9d835);
	background:-o-linear-gradient(#f3961c, #f9d835);
	background:linear-gradient(#f3961c, #f9d835);
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
	content:"";
	position:absolute;
	bottom:-15px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-isosceles.top:after {
	top:-15px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
	border-color:#f3961c transparent;
}

/*Scroll to Top*/
/*-------------*/
#scrollpage {
	background: url(/shared/images/up_arrow.png) no-repeat;
	position: fixed;
	height: 40px;
	width: 40px;
	bottom: 10px;
	display: none;
	right: 15px;
}
