/* http://cssmenumaker.com/builder/1138635 */

@import url(http://fonts.googleapis.com/css?family=Capriola);
/* Let's import the lovely google font, please keep this line at the top of your stylesheet */
/* Menu CSS */#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
	content: '';
	display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
	clear: both;
}
#cssmenu {
	width: auto;
	zoom: 1;
	height: 40px;
	background: url(/shared/images/tab_bottom-bg.png) repeat-x center bottom;
	border-radius: 6px;
}
#cssmenu ul {
	background: url(/shared/images/tab_nav-bg.png) repeat-x 0px 4px;
	height: 40px;
}
#cssmenu ul li {
	float: left;
	list-style: none;
}
#cssmenu ul li a {
	display: block;
	height: 27px;
	padding: 12px 18px 0;
	margin: 4px 2px 0;
	border-radius: 2px 2px 0 0;
	text-decoration: none;
	font-size: 12px;
	color: black;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	font-weight: 400;
	opacity: .9;
}
#cssmenu ul li:first-child a {
	margin: 4px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
	background: url(/shared/images/tab_color.png) center bottom;
	display: block;
	height: 26px;
	margin-top: 2px;
	padding-top: 12px;
	color: white;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
	opacity: 1;
}

.quickMenuTab {
	float: right;
	position: relative;
	margin-top: 14px;
	margin-right: 20px;
}

.quickMenuTab a {
	padding-left: 5px;
	padding-right: 5px;
}

.tabContent {
	margin: 15px 10px 15px 10px !important;
}

.tab {
	position: inherit;
	margin: 65px 10px 15px 10px !important;
}
